[submodule "third_party/pybind11"]
    ignore = dirty
    path = third_party/pybind11
    url = https://hub.fastgit.org/pybind/pybind11.git
[submodule "third_party/cub"]
    ignore = dirty
    path = third_party/cub
    url = https://hub.fastgit.org/NVlabs/cub.git
[submodule "third_party/eigen"]
    ignore = dirty
    path = third_party/eigen
    url = https://hub.fastgit.org/eigenteam/eigen-git-mirror.git
[submodule "third_party/googletest"]
    ignore = dirty
    path = third_party/googletest
    url = https://hub.fastgit.org/google/googletest.git
[submodule "third_party/benchmark"]
    ignore = dirty
    path = third_party/benchmark
    url = https://hub.fastgit.org/google/benchmark.git
[submodule "third_party/protobuf"]
    ignore = dirty
    path = third_party/protobuf
    url = https://hub.fastgit.org/protocolbuffers/protobuf.git
[submodule "third_party/ios-cmake"]
    ignore = dirty
    path = third_party/ios-cmake
    url = https://hub.fastgit.org/Yangqing/ios-cmake.git
[submodule "third_party/NNPACK"]
    ignore = dirty
    path = third_party/NNPACK
    url = https://hub.fastgit.org/Maratyszcza/NNPACK.git
[submodule "third_party/gloo"]
    ignore = dirty
    path = third_party/gloo
    url = https://hub.fastgit.org/facebookincubator/gloo
[submodule "third_party/NNPACK_deps/pthreadpool"]
    ignore = dirty
    path = third_party/pthreadpool
    url = https://hub.fastgit.org/Maratyszcza/pthreadpool.git
[submodule "third_party/NNPACK_deps/FXdiv"]
    ignore = dirty
    path = third_party/FXdiv
    url = https://hub.fastgit.org/Maratyszcza/FXdiv.git
[submodule "third_party/NNPACK_deps/FP16"]
    ignore = dirty
    path = third_party/FP16
    url = https://hub.fastgit.org/Maratyszcza/FP16.git
[submodule "third_party/NNPACK_deps/psimd"]
    ignore = dirty
    path = third_party/psimd
    url = https://hub.fastgit.org/Maratyszcza/psimd.git
[submodule "third_party/zstd"]
    ignore = dirty
    path = third_party/zstd
    url = https://hub.fastgit.org/facebook/zstd.git
[submodule "third-party/cpuinfo"]
    ignore = dirty
    path = third_party/cpuinfo
    url = https://hub.fastgit.org/pytorch/cpuinfo.git
[submodule "third_party/python-enum"]
    ignore = dirty
    path = third_party/python-enum
    url = https://hub.fastgit.org/PeachPy/enum34.git
[submodule "third_party/python-peachpy"]
    ignore = dirty
    path = third_party/python-peachpy
    url = https://hub.fastgit.org/Maratyszcza/PeachPy.git
[submodule "third_party/python-six"]
    ignore = dirty
    path = third_party/python-six
    url = https://hub.fastgit.org/benjaminp/six.git
[submodule "third_party/onnx"]
    ignore = dirty
    path = third_party/onnx
    url = https://hub.fastgit.org/onnx/onnx.git
[submodule "third_party/onnx-tensorrt"]
    ignore = dirty
    path = third_party/onnx-tensorrt
    url = https://hub.fastgit.org/onnx/onnx-tensorrt
[submodule "third_party/sleef"]
    ignore = dirty
    path = third_party/sleef
    url = https://hub.fastgit.org/shibatch/sleef
[submodule "third_party/ideep"]
    ignore = dirty
    path = third_party/ideep
    url = https://hub.fastgit.org/intel/ideep
[submodule "third_party/nccl/nccl"]
    ignore = dirty
    path = third_party/nccl/nccl
    url = https://hub.fastgit.org/NVIDIA/nccl
[submodule "third_party/gemmlowp/gemmlowp"]
    ignore = dirty
    path = third_party/gemmlowp/gemmlowp
    url = https://hub.fastgit.org/google/gemmlowp.git
[submodule "third_party/QNNPACK"]
    ignore = dirty
    path = third_party/QNNPACK
    url = https://hub.fastgit.org/pytorch/QNNPACK
[submodule "third_party/neon2sse"]
    ignore = dirty
    path = third_party/neon2sse
    url = https://hub.fastgit.org/intel/ARM_NEON_2_x86_SSE.git
[submodule "third_party/fbgemm"]
    ignore = dirty
    path = third_party/fbgemm
    url = https://hub.fastgit.org/pytorch/fbgemm
[submodule "third_party/foxi"]
    ignore = dirty
    path = third_party/foxi
    url = https://hub.fastgit.org/houseroad/foxi.git
[submodule "third_party/tbb"]
    path = third_party/tbb
    url = https://hub.fastgit.org/01org/tbb
    branch = tbb_2018
[submodule "android/libs/fbjni"]
    ignore = dirty
    path = android/libs/fbjni
    url = https://hub.fastgit.org/facebookincubator/fbjni.git
[submodule "third_party/XNNPACK"]
    ignore = dirty
    path = third_party/XNNPACK
    url = https://hub.fastgit.org/google/XNNPACK.git
[submodule "third_party/fmt"]
    ignore = dirty
    path = third_party/fmt
    url = https://hub.fastgit.org/fmtlib/fmt.git
[submodule "third_party/tensorpipe"]
    ignore = dirty
    path = third_party/tensorpipe
    url = https://hub.fastgit.org/pytorch/tensorpipe.git
[submodule "third_party/kineto"]
	path = third_party/kineto
	url = https://hub.fastgit.org/pytorch/kineto
